body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: url('Images/pexels-cliford-mervil-988071-2469122.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    position: relative;
    overflow-x: hidden;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    z-index: 0;
}

header, main, footer {
    position: relative;
    z-index: 1;
}

header {
    position: fixed;
    top: 20px;
    width: calc(100% - 40px);
    left: 20px;
    z-index: 2;
    background-color: rgba(32, 28, 28, 0);
    transition: background-color 0.3s ease;
}

nav {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 10px;
    margin: 0 auto;
    max-width: 960px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    transition: color 0.3s ease;
}

nav a:hover {
    color: #000;
}

nav:hover {
    background-color: rgba(255, 255, 255,0.5);
}

.transparent-nav {
    background-color: rgba(32, 28, 28, 0);
    backdrop-filter: none;
}

.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    text-align: center;
    padding: 30px 0;
    margin: 0;
}

.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.grey-box-hero {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    width: 70%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    margin: 20px auto;
}

@media (max-width: 600px) {
    .grey-box-hero {
        width: 90%;
        margin: 10px auto;
    }
}

.grey-box-hero h1,
.grey-box-hero h2,
.grey-box-hero p {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

.image-wrapper {
    flex: 1;
    margin-right: 20px;
    text-align: center;
}

.image-wrapper img {
    max-width: 100%;
    height: auto;
    max-height: 50vh;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.grey-box-section {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 30px;
    color: #fff;
    text-align: center;
    margin: 20px auto;
    width: 80%;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.grey-box-section h2,
.grey-box-section p {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

.about-section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.about-section p {
    max-width: 800px;
    margin: 0 auto 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

.stats {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.stat {
    background-color: #000;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.stat h3 {
    font-size: 2rem;
    margin: 0;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

.stat p {
    margin: 10px 0 0;
}

footer {
    font-size: 0.8rem;
    padding: 10px;
    text-align: center;
    background-color: #000;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

@media (max-width: 600px) {
    header {
        width: 100%;
        left: 0;
    }

    nav {
        margin: 0;
    }

    .grey-box-hero {
        width: 90%;
    }

    .image-wrapper {
        display: none;
    }

    .content-wrapper {
        flex-direction: column;
    }
}

@media (min-width: 601px) {
    .hero-section.reversed .content-wrapper {
        flex-direction: row-reverse;
    }

    .hero-section.reversed .image-wrapper {
        margin-right: 0;
        margin-left: 20px;
    }
}

.meet-box {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    width: 70%;
    max-width: 600px;
    margin: 100px auto 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}
